<mat-card class="demo-card demo-basic">
  <mat-card-title><h2>edit product</h2></mat-card-title>
  <mat-card-content>
    <form  #f="ngForm" (ngSubmit)="upProduct(f.value)">
      
      <table style="width: 100%" cellspacing="0"><tr>
        <td>
          <mat-form-field style="width: 100%" >
             <input name="id" id="id"  type="hidden" value="{{productRESget.body[0].id}}">
            <input matInput placeholder="Code" name="code" id="code" value="{{productRESget.body[0].code}}">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Name" id="name"  name="name"  value="{{productRESget.body[0].name}}">
          </mat-form-field>
        </td>
        
      </tr>      
    </table>
    <table style="width: 100%" cellspacing="0">
    <tr>
         <td>
          <mat-form-field style="width: 100%">
            <input matInput #postalCode maxLength="5" placeholder="Price" id="price" name="price" value="{{productRESget.body[0].price}}">            
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Stock" id="stock" name="stock" value="{{productRESget.body[0].stock}}">
          </mat-form-field>
        </td>
        
      </tr>
    <tr>
     <td>        
       
        <mat-form-field style="width: 100%">
            <mat-select placeholder="Category"  matInput id="productCategoryid" name="productCategoryid">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let data of catRES.body" [value]="data.id">
                {{ data?.name }}
              </mat-option>
            </mat-select>
            <mat-error>You must make a selection</mat-error>
          </mat-form-field>

      </td>
    </tr>
    </table>
   <table style="width: 100%" cellspacing="0">    
    <tr>
        <td>
          <mat-form-field style="width: 100%" >
            <input matInput value="{{productRESget.body[0].shortDescription}}" placeholder="Short Description" id="shortDescription" name="shortDescription">
          </mat-form-field>
        </td>
        
    </tr>
      <tr>
        <td>
            <mat-form-field style="width: 100%">
              <input matInput value="{{productRESget.body[0].description}}" placeholder="Description" id="description" name="description">
            </mat-form-field>
          </td>
      </tr>
      <tr>
        
        <td></td>
        <td>           
           <button type="Submit"  mat-raised-button color="primary">Submit</button>           
        </td>
      </tr>
    </table>
    
    </form>
  </mat-card-content>
</mat-card>