
<mat-card>
        <mat-card-title>User Details: {{user?.firstName}}</mat-card-title>  
        <mat-card-content>
              <div class="mb-1">
                <mat-form-field style="width: 100%">
                  <input matInput placeholder="First Name" value="{{user?.firstName}}" readonly>
                </mat-form-field>
                </div>
      
                <div class="mb-1">
                        <mat-form-field style="width: 100%">
                          <input matInput placeholder="Last Name" value="{{user?.lastName}}" readonly>
                        </mat-form-field>
                     </div>

            <div class="mb-1">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Authority" value="{{user?.authorityName}}" readonly>
              </mat-form-field>
           </div>
      
            <div class="mb-1">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Email" value="{{user?.email}}" readonly>
              </mat-form-field>
            </div>
       
          </mat-card-content>
          <hr>
          <mat-card-actions>
            <button mat-raised-button  [routerLink]="['/user']">Back</button>
          </mat-card-actions>
      </mat-card>
