<div class="session mat-indigo">
  <div class="session-content">
    <div class="session-wrapper">
      <mat-card>
        <mat-card-content>
          <form>
            <div class="text-xs-center pb-1">
              Confirmation
            </div> 

            <div class="text-xs-center pb-1">
                <label>{{confirmationData?.status.description}}</label>
            </div>
            

          <div class="pt-1 pb-1 text-xs-center">
            <button mat-raised-button  [routerLink]="['/login']">Back to Login</button>
          </div>

          </form>
          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
